<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <div class="main-content">
        {{> header }}
        <p>Node server that uses Mapbox and Darksky.</p>
        <img class="portrait" src="/img/self.jpg" width="500"/>
    </div>
    {{> footer }}
</body>
</html>
